<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="empDao" class="com.elegant.ioc.EmpDao">
		<property name="empNum" value="1000" />
		<property name="name" value="ElegantStudent">
		</property>
		<property name="address" value="Bangalore"></property>
		<property name="names">
			<list>
				<value>nakul</value>
				<value>sachin</value>
				<value>anup</value>
			</list>
		</property>
	</bean>


</beans>